@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.maintitle {
    font-family: 'Gloria Hallelujah', cursive;
    color: red;
    font-size: 50px;
    text-align: center;
    margin-bottom: 0;
}

.subtitle {
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
    font-size: 25px;
    text-align: center;
    margin: 0;
}